* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Vilane';
    src: url(/assets/fonts/Vilane-Font/Vilane\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Extra\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Medium.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Regular.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Semi\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Thin.ttf)format('truetype');
}
// Font
$vilane: 'Vilane', sans-serif;
// Colors
$jasmine: #FFE381;
$turquoise: #45F0DF;
$silver: #8B939C;
$red: #FF0035;
$black: #0E131F;
$white: #f1f1f1;
body {
    width: 100vw;
    height: 100vh;
    background-color: $red;
}
h1, .words {
    font-family: $vilane;
    text-transform: uppercase;
    font-size: clamp(1rem, 3vw + 2rem, 5rem);
    letter-spacing: 5px;
    color: $white;
}
div {
    width: fit-content;
    margin: 0 auto;
    flex-basis: 0;
    margin-top: 50vh;
    transform: translateY(-50%);
}
h1 {
    display: inline-block;
}
.words {
    margin-left: 1rem;
}