* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Vilane';
    src: url(/assets/fonts/Vilane-Font/Vilane\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Extra\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Medium.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Regular.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Semi\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Thin.ttf)format('truetype');
}
// Font
$vilane: 'Vilane', sans-serif;
// Colors
$white: #f1f1f1;
$jasmine: #FFE381;
$turquoise: #45F0DF;
$silver: #8B939C;
$red: #FF0035;
$black: #0E131F;

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $red;
    // display: flex;
    // flex-direction: row;
    .container {
        // background-color: $silver;
        padding: 20px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        h1 {
            // background-color: $silver;
            font-family: $vilane;
            text-transform: uppercase;
            font-size: clamp(1rem, 4vw + 2rem, 7rem);
            letter-spacing: 5px;
            color: $white;
            line-height: 1.3;
        }
        .wordsList {
            // position: relative;
            .main {
                position: relative;
                z-index: 50;
            }
            .stroke {
                -webkit-text-stroke: 2px $white;
                -webkit-text-fill-color: transparent;
                // color: $red;
                position: relative;
                z-index: 1;
                // display: none;
            }
        }
    }
}
@media only screen and (max-width: 800px) and (orientation: portrait) {
    .container {
        // flex-direction: column;
        
        .you-are {
            font-size: 0.75rem;
            position: absolute;
            transform: translateY(-38px);
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
        }
        .wordsList {
            margin-top: 1rem;
            h1 {
                font-size: clamp(14px, 3vw + 2rem, 5rem);
                line-height: 1.6;
            }
        }
    }
}
