* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Vilane';
    src: url(/assets/fonts/Vilane-Font/Vilane\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Extra\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Light.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Medium.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Regular.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Semi\ Bold.ttf)format('truetype'),
        url(/assets/fonts/Vilane-Font/Vilane\ Thin.ttf)format('truetype');
}
// Font
$vilane: 'Vilane', sans-serif;
// Colors
$jasmine: #FFE381;
$turquoise: #45F0DF;
$silver: #8B939C;
$red: #FF0035;
$black: #0E131F;
$white: #f1f1f1;
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: $red;
}
h1, .words {
    font-family: $vilane;
    text-transform: uppercase;
    font-size: clamp(1rem, 3vw + 2rem, 5rem);
    letter-spacing: 5px;
    color: $white;
}
div {
    width: fit-content;
    margin: 0 auto;
    display: flex;
    overflow: hidden;
    h1 {
        display: inline-block;
        padding: 50% 0;
    }
    .words {
        display: inline-block;
        margin-left: 1rem;
        height: fit-content;
        margin-top: 50%;
        position: relative;
        -webkit-text-stroke: 3px $white;
        &::after {
            content: 'awesome';
            color: $red;
            position: absolute;
            bottom: -5rem;
            left: 0;
            z-index: -1;
            -webkit-text-stroke: 2.5px $white;
        }
    }

}
